* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 252, 209);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.img-container img {
  width: 120px;
  position: relative;
  top: 5px;
  left: -5px;
}

.img-container::after {
  content: "''";
  font-size: 3rem;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  background-color: rgb(255, 251, 0);
  position: absolute;
  top: 4px;
  left: 6px;
  z-index: 11;
}
.img-container {
  margin: 1rem auto;
  background-color: rgb(255, 251, 0);
  width: 120px;
  top: 0;
  left: 0;
  border-radius: 50%;
  position: relative;
}

.review {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}

.review h4 {
  font-weight: 900;
  font-size: 1.2rem;
}

#job {
  color: rgb(255, 238, 0);
  border: 1px solid brown;
  border-radius: 34% / 45%;
  font-weight: 800;
  background-color: rgb(124, 39, 0);
  box-shadow: 1px 5px rgb(251, 255, 0);
  max-width: 60%;
}

.review p {
  margin: 0.5rem 0;
  width: 70%;
}
.title {
  font-weight: 100;
  margin: 3rem 0;
}

/* button container */

.button-container {
  margin: 1rem auto;
  width: 100%;
}

.button-container button {
  background: none;
  border: none;
  width: 25px;
}

.prev-btn {
  cursor: pointer;
  background-color: red;
}

.next-btn {
  cursor: pointer;
}

.review .random {
  width: 30%;
  border-color: rgb(255, 230, 0);
  color: rgb(238, 255, 0);
  background-color: rgb(104, 53, 6);
  border-radius: 13px / 24px;
}
